@model BookMark.Client.Models.OrganizationViewModel

<h1>Welcome @Model.Name!</h1>

<a href="/event/orgevents">Events</a>
<br/>
<a href="/event/create">Create an Event</a>
<br/>
<a href="/organization/updateinfo">Update your information</a>