@{
    ViewData["Title"] = "Home Page";
}

<a href="/user/register">Register as User</a>
<a href="/user/login">Login as User</a>

<br/>
<br/>
<a href="/organization/register">Register as an Organization</a>
<a href="/organization/login">Login as an Organization</a>